body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    margin: 0;
}

.logo {
    width: 500px;
    height: 500px;
    background-color: #e31837;
    border-radius: 50%;
    position: relative;
}